<!-- 新規追加 -->
<form name="itemAdditionForm" class="form form-inline"
      ng-controller="AccountItemAdditionFormController"
      ng-show="items.$resolved" ng-cloak>
  <div class="input-group">
    <div class="input-group-btn" ng-init="selected_type = types[0]">
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown"
              ng-focus-on-change="selected_type">
        <span class="glyphicon glyphicon-filter"></span> {{selected_type.name}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="type in types">
          <a href ng-click="$parent.selected_type = type">{{type.name}}</a>
        </li>
      </ul>
    </div>
    <input name="newItemName" type="text" class="form-control" placeholder="科目名"
           ng-model="newItemName" required/>
  </div>
  <input type="submit" class="btn btn-primary" value="追加"
         ng-disabled="itemAdditionForm.$invalid"
         ng-click="onSubmit()" />
</form>
