<div class="container-fluid">
  <div class="row">
    <section class="account-items-configs">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr ng-repeat="item in items">
            <td>{{item.name}}</td>
            <td>{{item.type.name}}</td>
            <td>{{item.description}}</td>
            <td>buttons</td>
          </tr>
        </tbody>
      </table>
      <div class="controll">
        controll
      </div>
    </section>
  </div>
</div>
