<div class="container-fluid">
  <div class="row">
    <section class="account-items-configs" ng-controller="AccountingItemsConfigController">
      <h3>勘定科目設定</h3>
      <table class="table" ng-show="items.$resolved">
        <thead>
          <tr>
            <th>科目名</th>
            <th>分類</th>
            <th>説明</th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-repeat="item in items">
          <!-- 通常表示 -->
          <tr ng-hide="item.editing">
            <td ng-class="{deleted: item.deleted_at}">{{item.name}}</td>
            <td ng-class="{deleted: item.deleted_at}">{{types[item.type_id - 1].name}}</td>
            <td ng-class="{deleted: item.deleted_at}">{{item.description}}</td>
            <td class="controls">
              <button class="btn btn-mini btn-default"
                      ng-click="item.editing = true"
                      ng-disabled="item.updating">
                <i class="glyphicon glyphicon-edit"></i> 編集
              </button>
              <button class="btn btn-mini btn-default"
                      ng-click="toggleItemSelectable(item)"
                      ng-show="item.selectable"
                      ng-disabled="item.updating">
                <i class="glyphicon glyphicon-remove"></i> 無効化
              </button>
              <button class="btn btn-mini btn-default"
                      ng-click="toggleItemSelectable(item)"
                      ng-hide="item.selectable"
                      ng-disabled="item.updating">
                <i class="glyphicon glyphicon-ok"></i> 有効化
              </button>
            </td>
          </tr>

          <!-- 編集時 -->
          <tr ng-show="item.editing">
            <td>
              <input type="text" class="form-control" ng-model="item.name" ng-focus-on-change="item.editing"/>
            </td>
            <td>
              <select class="form-control" ng-model="item.type_id">
                <option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
              </select>
            </td>
            <td>
              <input type="text" class="form-control" ng-model="item.description"/>
            </td>
            <td class="controls">
              <button class="btn btn-mini btn-primary" ng-click="updateAccountingItem(item);"><i class="glyphicon glyphicon-ok"></i> 決定</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="controls" ng-show="items.$resolved">
        controll
      </div>
      <div class="loading well" ng-hide="items.$resolved">ロード中...</div>
    </section>
  </div>
</div>
