<div class="container-fluid">
  <div class="row">
    <%= render file: 'configs/_inventory_opposite_item' %>
  </div>

  <div class="row">
    <%= render file: 'configs/_accounting_items' %>
  </div>
</div>
