<section class="history col-sm-12" ng-controller="RecentTransactionsController">

  <div class="loading well" ng-show="history.initialized && recents.length === 0">直近のあれはありません</div>
  <div class="loading well" ng-hide="history.initialized">ロード中...</div>

  <section id="react-list-container"></section>
  <section id="react-modal-container"></section>
</section>