<div class="container-fluid">
  <%= render file: 'layouts/_entry_form' %>

  <h3>▼直近７日間の履歴</h3>
  <div class="row" style="min-height: 320px;">
    <%= render file: 'dashboard/_recent_transactions' %>
  </div>
</div>
