<div class="container-fluid">
  <%= render 'layouts/entry_form' %>

  <h3>▼直近７日間の履歴</h3>
  <div class="row" style="min-height: 320px;">
    <%= render 'dashboard/recent_transactions' %>
  </div>
</div>
