<div class="container-fluid">
  <div class="row">
    <section class="inventories" ng-controller="InventoriesController">
      <h3>棚卸高</h3>
      <table class="table" ng-show="inventories.$resolved">
        <thead>
          <tr>
            <th>科目名</th>
            <th>分類</th>
            <th class="amount">残高</th>
            <th><!-- separator --></th>
            <th><!-- コントロール --></th>
          </tr>
        </thead>

        <tbody ng-repeat="inventory in inventories">
          <tr ng-hide="inventory.editing">
            <td>{{ inventory.item_id | itemName }}</td>
            <td>{{ inventory.item_id | itemType }}</td>
            <td class="amount">{{ inventory.amount | number:0 }}</td>
            <td class="history-column-separator"></td>
            <td>
              <button class="btn btn-default" type="button"
                      ng-click="inventory.editing = true">
                <i class="glyphicon glyphicon-pencil"></i>
              </button>
            </td>
          </tr>

          <tr ng-show="inventory.editing">
            <td>{{ inventory.item_id | itemName }}</td>
            <td>{{ inventory.item_id | itemType }}</td>
            <td>
              <span class="input-group">
                <span class="input-group-addon">&yen;</span>
                <input class="form-control" name="amount" type="number"
                       ng-disabled="inventory.submitting"
                       ng-model="inventory.amount"/>
              </span>
            </td>
            <td class="history-column-separator"></td>
            <td>
              <button class="btn btn-primary" type="submit"
                      ng-click="inventory.editing = false">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button class="btn btn-default" type="button"
                      ng-click="inventory.editing = false">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="loading well" ng-hide="inventories.$resolved">ロード中...</div>
    </section>
  </div>
</div>
