<div class="container-fluid">
  <div class="row">
    <section class="inventories" ng-controller="InventoriesController">
      <h3>棚卸高</h3>
      <table class="table" ng-show="inventories.$resolved" ng-cloak>
        <thead>
          <tr>
            <th>科目名</th>
            <th>分類</th>
            <th>説明</th>
            <th class="amount">残高</th>
            <th><!-- separator --></th>
            <th><!-- コントロール --></th>
          </tr>
        </thead>

        <tbody ng-repeat="inventory in inventories | byItemType:[1,3] | filter:{selectable:true}:strict | orderBy:'item_id'"><!-- 資産と負債 -->
          <tr ng-hide="inventory.editing">
            <td class="inventory-column inventory-column-name">
              {{ inventory.item_id | itemName }}
            </td>
            <td class="inventory-column inventory-column-type">
              {{ inventory.item_id | itemType }}
            </td>
            <td class="inventory-column inventory-column-description">
              {{ inventory.description }}
            </td>
            <td class="inventory-column inventory-column-amount">
              {{ inventory.amount | number:0 }}
            </td>
            <td class="inventory-column inventory-column-separator"></td>
            <td class="inventory-column inventory-column-controller">
              <button class="btn btn-secondary" type="button"
                      ng-click="inventory.editing = true; inventory.original_amount = inventory.amount">
                <%= bootstrap_icon "pencil" %> 棚卸額登録
              </button>
            </td>
          </tr>

          <tr ng-show="inventory.editing">
            <td class="inventory-column inventory-column-name">
              {{ inventory.item_id | itemName }}
            </td>
            <td class="inventory-column inventory-column-type">
              {{ inventory.item_id | itemType }}
            </td>
            <td class="inventory-column inventory-column-description">
              {{ inventory.description }}
            </td>
            <td class="inventory-column inventory-column-amount">
              <span class="input-group">
                <span class="input-group-addon">&yen;</span>
                <input class="form-control amount" name="amount" type="number"
                       ng-disabled="inventory.submitting"
                       ng-model="inventory.amount"
                       ng-focus-on-change="inventory.editing"/>
              </span>
            </td>
            <td class="inventory-column inventory-column-separator"></td>
            <td class="inventory-column inventory-column-controller">
              <button class="btn btn-primary" type="submit"
                      ng-click="takeInventory(inventory)">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button class="btn btn-default" type="button"
                      ng-click="inventory.editing = false; inventory.amount = inventory.original_amount">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="loading well" ng-hide="inventories.$resolved">ロード中...</div>
    </section>
  </div>
</div>
