<div class="row" ng-controller="SummariesController">
  <section class="summaries-control col-md-12 mb-4">
    <h3>期間集計</h3>
    <form class="form-inline row">
      <span class="col-md-3">
        <input type="date" name="from" class="form-control" placeholder="集計期間"
                ng-model="inputFrom" ng-change="onTermChanged(inputFrom, inputTo)"/>
      </span>
      <span class="col-md-1" style="text-align: center;"> 〜 </span>
      <span class="col-md-3">
        <input type="date" name="to" class="form-control" placeholder="集計期間"
                ng-model="inputTo" ng-change="onTermChanged(inputFrom, inputTo)"/>
      </span>
    </form>
  </section>

  <h3>
    <span>▼集計結果</span>
    <span ng-show="inputFrom && inputTo" ng-cloak>{{inputFrom |date:'yyyy-MM-dd' }} 〜 {{ inputTo | date:'yyyy-MM-dd'}}</span>
  </h3>
  <section class="summaries-table col-md-10" ng-show="summaryAccounts.$resolved" ng-cloak>
    <table class="table">
      <thead>
        <tr>
          <th class>科目名</th>
          <th>分類</th>
          <th class="amount">借方</th>
          <th class="amount">貸方</th>
          <th class="amount">増減</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="account in summaryAccounts">
          <td>{{ account.item_id | itemName }}</td>
          <td>{{ account.item_id | itemType }}</td>
          <td class="amount">{{ account.debit_amount | number:0 }}</td>
          <td class="amount">{{ account.credit_amount | number:0 }}</td>
          <td class="amount">{{ account.offset_amount | number:0 }}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <div class="loading well" ng-hide="summaryAccounts.$resolved">ロード中...</div>

</div>
