<%= render 'layouts/entry_form' %>

<h3 class="title">▼履歴</h3>

<div class="row" style="min-height: 320px;" ng-controller="HistoryController">
  <%= render 'histories/sub_control' %>
  <%= render 'histories/history' %>
</div>
