<section class="jumbotron">
  <h1>家計簿さん</h1>
  <p>複式簿記で家計簿を！</p>
  <h3 class="small">複式簿記なら...</h3>
  <p class="small" style="font-size: 0.82em">現金や電子マネー、クレジットカードなどの支払いと残高をまとめて管理できます。</p>

  <!-- TODO アイコンを表示 -->
  <p>
    <%= link_to(sanitize('<span class="glyphicon glyphicon-signin"></span> 開発者としてログイン'), "/auth/developer", class: "developer-login btn btn-primary") unless Rails.env.production? %>
    <%= link_to sanitize('<span class="glyphicon glyphicon-twitter"></span> Twitterでログイン'), "/auth/twitter", class: "twitter-login btn btn-primary" %>
</section>
  </p>
<footer class="container-fluid">
  <p class="row">
    <span class="pull-right">&copy; <a href="https://twitter.com/onjiro_mohyahya" target="_blank">@onjiro_mohyahya</a> 2013</span>
  </p>
</footer>
