<section class="container" style="margin-top: 2em;">
  <div class="row">
    <div class="col-8 bg-light" style="padding: 2em; 0; border-radius: 8px;">
      <h1>家計簿さん</h1>
      <p>複式簿記で家計簿を！</p>
      <h3 class="small">複式簿記なら...</h3>
      <p class="small" style="font-size: 0.82em">現金や電子マネー、クレジットカードなどの支払いと残高をまとめて管理できます。</p>

      <p>
        <%= link_to(sanitize('<span class="glyphicon glyphicon-signin"></span> 開発者としてログイン'), "/auth/developer", class: "developer-login btn btn-primary") unless Rails.env.production? %>
        <%= link_to sanitize('<span class="glyphicon glyphicon-twitter"></span> Twitterでログイン'), "/auth/twitter", class: "twitter-login btn btn-primary" %>
      </p>
    </div>
  </div>
</section>
<footer class="container">
  <p class="row">
    <span class="pull-right">&copy; <a href="https://twitter.com/onjiro_mohyahya" target="_blank">@onjiro_mohyahya</a> 2013-2021</span>
  </p>
</footer>
