<section class="container mt-5">
  <div class="row">
    <div class="col-8 bg-light pt-4 pb-4" style="border-radius: 8px;">
      <h1>家計簿さん</h1>
      <p>複式簿記で家計簿を！</p>
      <h3 class="small">複式簿記なら...</h3>
      <p class="small" style="font-size: 0.82em">現金や電子マネー、クレジットカードなどの支払いと残高をまとめて管理できます。</p>

      <p>
        <%= link_to "開発者としてログイン", "/auth/developer", class: "btn btn-primary", method: :post %>
        <%= link_to "Twitterでログイン", "/auth/twitter", class: "btn btn-primary", method: :post %>

      </p>
    </div>
  </div>
</section>
<footer class="container">
  <p class="row">
    <span class="pull-right">&copy; <a href="https://twitter.com/onjiro_mohyahya" target="_blank">@onjiro_mohyahya</a> 2013-2021</span>
  </p>
</footer>
