<form class="col-xs-12">
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
    </span>
    <input class="form-control" type="text" placeholder="検索"/>
    <span class="input-group-btn">
      <input class="btn btn-default" type="reset" value="リセット"/>
    </span>
  </div>
</form>
