<%= render :file => 'layouts/_entry_form.html.erb' %>

<h3>▼履歴</h3>
<div class="row" style="min-height: 320px;" ng-controller="HistoryController">
  <%= render file: 'histories/_history.html.erb' %>
</div>
