<% content_for :content do %>
  <%= render :file => 'layouts/_header.html.erb' %>

  <div class="container-fluid">
    <div class="row">
      <!-- サイドバーメニュー -->
      <!-- PCから見た場合のみサイドバーとして表示 -->
      <section id="side-nav" class="nav col-sm-2 hidden-xs">
        <%= render :file => 'layouts/_sidemenu.html.erb' %>
      </section>

      <!-- メイン表示部分 -->
      <section id="side-nav" class="main col-sm-10 col-xs-12">
        <%= yield %>
      </section>
    </div>
  </div>
<% end %>
<%= render :file => 'layouts/application' %>

