.history-transaction-expandable {
  cursor: pointer;
}
.history-column-row-expands {
  width: 5%;
}
.history-column-date {
  width: 20%;
}
.history-column-account {
  width: 20%;
}
.history-column-amount {
  width: 10%;
}
.history-column-transaction-controls {
}
.history-column-separator {
  width: 2%;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* for ngAnimate */
.history-transaction {
  transition: 0.4s linear all;

  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: 1;
    }
  }

  &.ng-leave {
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

/* themes */
.history-row-new {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
