.history-column-row-expands {
  width: 5%;
}
.history-column-date {
  width: 20%;
}
.history-column-account {
  width: 15%;
}
.history-column-amount {
  width: 15%;
}
.history-column-transaction-controls {
}
.history-column-separator {
  width: 2%;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
