.tooltip-suggestion {
  visibility: hidden;
  &.in {
    visibility: visible;
  }

  a {
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: white;
      text-decolation: initial;
    }
  }
}