<section class="history col-sm-12">
  <table class="table" ng-show="transactions.$resolved" ng-cloak>
    <thead>
      <tr>
        <th><!-- expands --></th>
        <th>日付</th>
        <th><!-- separator --></th>
        <th>借方科目</th>
        <th class="amount">借方金額</th>
        <th><!-- separator --></th>
        <th>貸方科目</th>
        <th class="amount">貸方金額</th>
        <th><!-- separator --></th>
        <th><!-- controls --></th>
      </tr>
    </thead>
    <tbody
       class="history-transaction"
       ng-repeat="transaction in transactions | orderBy:'date':true"
       ng-class="{'history-transaction-expandable': transaction.displayFormat.rows.length > 1}"
       ng-click="(transaction.displayFormat.rows.length > 1) && (transaction.showDetails = !transaction.showDetails)"
       ng-init="transaction.displayFormat = transaction.toDisplayFormat()">
      <!-- 概要 -->
      <tr class="history-row history-row-outline"
          ng-hide="transaction.showDetails">
        <td class="history-column-row-expands">
          <span ng-show="transaction.displayFormat.rows.length > 1">
            <i class="caret caret-right"></i>
          </span>
        </td>
        <td class="history-column-date">
          {{ transaction.date | date: 'yyyy-MM-dd' }}
        </td>

        <td class="history-column-separator"></td>
        <td class="history-column-account">
          <span ng-repeat="entry in transaction.debitEntries()">
            {{  entry.item_id | itemName }}
          </span>
        </td>
        <td class="amount history-column-amount">
          &yen;{{transaction.getAmount() | number: 0}}
        </td>

        <td class="history-column-separator"></td>
        <td class="history-column-account">
          <span ng-repeat="entry in transaction.creditEntries()">
            {{  entry.item_id | itemName }}
          </span>
        </td>
        <td class="amount history-column-amount">&yen;{{transaction.getAmount() | number: 0}}</td>

        <td class="history-column-separator"></td>
        <td class="history-column-transaction-controls">
          <button type="button" class="delete-row pull-right"
                  ng-click="$event.stopPropagation(); remove(transaction)">x</button>
        </td>
      </tr>

      <!-- 詳細 -->
      <tr class="history-row history-row-details"
          ng-repeat="row in transaction.displayFormat.rows"
          ng-show="transaction.showDetails">
        <td>
          <span ng-show="$index === 0">
            <i class="caret"></i></td>
        </span>
        <td>
          <span>{{ $index === 0 ? transaction.date: '' | date: 'yyyy-MM-dd'}}</span>
        </td>

        <td class="history-column-separator"></td>
        <td>
          <span>{{ row.debit ? row.debit.item_id: '' | itemName}}</span>
        </td>
        <td class="amount" style="text-align: right;">
          <span>{{ row.debit ? '&yen;': '' }}{{ row.debit ? row.debit.amount: '' | number: 0 }}</span>
        </td>

        <td class="history-column-separator"></td>
        <td>
          <span>{{ row.credit ? row.credit.item_id: '' | itemName }}</span>
        </td>
        <td class="amount" style="text-align: right;">
          <span>{{ row.credit ? '&yen;': '' }}{{ row.credit ? row.credit.amount: '' | number: 0 }}</span>
        </td>

        <td class="history-column-separator"></td>
        <td>
          <span ng-show="$index === 0">
            <button type="button" class="delete-row pull-right"
                    ng-click="$event.stopPropagation(); remove(transaction)">x</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="btn btn-info col-sm-12" ng-show="transactions.$resolved" ng-cloak
       ng-click="loadNextTransactions()" ng-disabled="transactions.appending">
    <span>さらに読み込む<span>
  </div>
  <div class="loading well" ng-hide="transactions.$resolved">ロード中...</div>
</section>
