<%= render :file => 'layouts/_entry_form.html.erb' %>

<h3>▼履歴</h3>
<div class="row" style="min-height: 320px;">
  <section class="history">
    <table class="table table-striped table-bordered" ng-show="transactions.$resolved" ng-cloak>
      <thead>
        <tr>
          <th>日時</th>
          <th>費用 or 資産</th>
          <th>金額</th>
        </tr>
      </thead>
      <tbody>
        <!-- 履歴を表示します -->
        <tr ng-repeat="transaction in transactions | orderBy:'date':true" ng-click="transaction.showDetails = !transaction.showDetails">
          <td ng-hide="transaction.showDetails">{{transaction.date | date: 'yyyy-MM-dd'}}</td>
          <td ng-hide="transaction.showDetails">{{transaction.getSummaryAccount()}}</td>
          <td ng-hide="transaction.showDetails" style="text-align: right">&yen;{{transaction.getAmount() | number: 0}}</td>

          <td ng-show="transaction.showDetails" colspan="3">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>{{transaction.date | date: 'yyyy-MM-dd'}}</td>
                  <td>{{transaction.debitEntries()[0].item_id}}</td>
                  <td>&yen;{{transaction.debitEntries()[0].amount}}</td>
                  <td>{{transaction.creditEntries()[0].item_id}}</td>
                  <td>&yen;{{transaction.creditEntries()[0].amount}}</td>
                  <td>
                    <button type="button" class="delete-row pull-right"
                            ng-click="$event.stopPropagation(); remove(transaction)">x</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="loading well" ng-hide="transactions.$resolved">ロード中...</div>
  </section>
</div><!--/row-->
