<section class="history">
  <table class="table table-striped table-bordered">
    <thead>
      <th>日時</th>
      <th>費用 or 資産</th>
      <th>金額</th>
    </thead>
    <tbody>
      <!-- 履歴を表示します -->
    </tbody>
  </table>
</section>
