<div class="input-group-btn">
  <!-- 通常表示されるボタン部分 -->
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          ng-disabled="newTransaction.submitting"
          ng-focus-on-change="current_filter">
    <i class="glyphicon glyphicon-filter"></i>
    {{current_filter.title}}
    <span class="caret"></span>
  </button>

  <!-- ボタン押下時に展開されるメニュー -->
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="filter in type_filters">
      <a href ng-click="setCurrentFilter(filter)">{{filter.title}}</a>
    </li>
  </ul>
</div>
