<h3 class="hidden-xs">▼ 登録</h3>
<form id="entry-form" ng-submit="addNewTransaction()" ng-cloak>
  <fieldset>

    <!-- トランザクションに1つ -->
    <!-- 取引時刻 -->
    <div class="row">
      <span class="col-sm-3">
        <span class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
          <input name="date" class="form-control"
                 type="date" placeholder="日付"
                 ng-model="formattedNewTransaction.date"
                 ng-disabled="newTransaction.submitting"
                 ng-focus-on-change="newTransaction.date"
                 autofocus />
        </span>
      </span>
    </div>

    <table class="table table-striped table-bordered">
      <thead class="hidden">
        <tr>
          <th>借方</th>
          <th class="hidden">借方金額</th>
          <th>貸方</th>
          <th>貸方金額</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="row in formattedNewTransaction.rows">

          <td class="debit-account">
            <%= render file: 'layouts/_account_item_selection',
                locals: {
                  initial_filter: 'type_filters[1]',
                  selection_model: 'row.debit.item_id',
                  selection_title: '【借方】',
                }
            %>
          </td>

          <td class="debit-amount">
            <div class="input-group">
              <div class="input-group-addon">&yen;</div>
              <input name="amount" class="form-control" style="text-align: right;"
                     type="number" placeholder="借方金額"
                     ng-disabled="newTransaction.submitting"
                     ng-model="row.debit.amount"
                     ng-change="amountLinked && (row.credit.amount = row.debit.amount)"/>
            </div>
          </td>

          <td class="credit-account">
            <%= render file: 'layouts/_account_item_selection',
                locals: {
                  initial_filter: 'type_filters[0]',
                  selection_model: 'row.credit.item_id',
                  selection_title: '【貸方】',
                }
            %>
          </td>

          <td class="credit-amount">
            <div class="input-group">
              <div class="input-group-addon">&yen;</div>
              <input name="amount" class="form-control" style="text-align: right;"
                     type="number" placeholder="貸方金額"
                     ng-model="row.credit.amount"
                     ng-disabled="amountLinked || newTransaction.submitting ">
              <div class="input-group-addon" title="金額自動転記">
                <input type="checkbox" disabled ng-checked="amountLinked">
                <i class="glyphicon glyphicon-link"></i>
              </div>
            </div>
          </td>

          <!-- エントリーコントロール -->
          <td><button type="button" class="delete-row" ng-disabled="newTransaction.submitting">x</button></td>
        </tr>

        <!-- トランザクションコントロール1 -->
        <tr>
          <td colspan="5" >
            <button class="btn btn-default col-sm-2" type="button"
                    ng-click="newTransaction.addEmptyEntriesPair(); formattedNewTransaction = newTransaction.toDisplayFormat()"
                    ng-disabled="newTransaction.submitting">
              <i class="glyphicon glyphicon-plus"></i> 行を追加
            </button>
          </td>
        </tr>

      </tbody>
    </table>

    <!-- トランザクションコントロール2 -->
    <div id="entry-form-control" class="row">
      <div class="col-sm-12">
        <button class="btn btn-primary" type="submit" ng-disabled="newTransaction.submitting">
          <i class="glyphicon glyphicon-pencil"></i> 登録
        </button>
      </div>
    </div>

  </fieldset>
</form>
