<div ng-cloak ng-show="onEntry" class="entry-forms">
  <div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.2)" ></div>
  <div class="container-fluid" style="position: absolute; top: 0; left: 0; width: 100%;">
    <div class="row">
      <div class="col-xs-12" style="margin-top: 12px;">
        <div style="background: #fff; padding: 24px 0; border-radius: 4px;">
          <!-- formでoffset 1を指定し、内部は11カラム -->
          <form id="entry-form" class="form-horizontal col-xs-offset-1" ng-submit="addNewTransaction()">
            <fieldset>
              <legend>登録</legend>
              <div class="form-group">
                <label class="col-xs-11 col-sm-2 control-label" for="datetime">日付</label>
                <div class="col-xs-11 col-sm-9">
                  <input name="datetime" class="form-control" type="datetime-local" placeholder="日付" ng-model="newTransactionEntry.datetime" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-11 col-sm-2 control-label">金額</label>
                <div class="col-xs-11 col-sm-9">
                  <input name="amount" class="form-control" type="number" placeholder="金額" ng-model="newTransactionEntry.amount" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-11 col-sm-2 control-label">購入課目</label>
                <div class="col-xs-11 col-sm-9">
                  <div class="input-group">
                    <select name="debit-account" class="form-control" ng-model="newTransactionEntry.debitAccount">
                      <option value="0">【購入課目】</option>
                    </select>
                    <span class="input-group-btn add-account-btn"><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-11 col-sm-2 control-label">支払課目</label>
                <div class="col-xs-11 col-sm-9">
                  <div class="input-group">
                    <select class="form-control" name="credit-account" ng-model="newTransactionEntry.creditAccount">
                      <option value="0">【支払課目】</option>
                    </select>
                    <span class="input-group-btn add-account-btn"><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-11 col-sm-9">
                  <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-pencil"></span> 登録</button>
                  <button ng-click="toggleEntryForm()" class="btn btn-default" type="button">キャンセル</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
