<div class="nav">
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header sr-only">
        <a class="navbar-brand" href="#">検索フォーム</a>
      </div>
      <form class="navbar-form form-inline input-group" role="search">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="検索"/>
        </div>
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> 検索</button>
        </div>
      </form>
    </div>

    <!-- bootstrap 2系で作成してた分、いったん非表示。あとでメニューとかに移す -->
    <div class="navbar-inner" style="display: none">
      <a class="brand" href="/"><i class="icon-home"></i>家計簿さん</a>
      <div class="user-menu pull-right">
        <% if current_user  %>
        <span class="current-user">ログイン中: <%= current_user.name %></span>
        <span class="logout btn"><%= link_to sanitize('<i class="icon-signout"></i> ログアウト'), "/signout" %></span>
        <% else %>
        <%= link_to(sanitize('<span class="glyphicon glyphicon-signin"></span> 開発者としてログイン'), "/auth/developer", class: "developer-login btn btn-primary") unless Rails.env.production? %>
        <%= link_to sanitize('<span class="glyphicon glyphicon-twitter"></span> Twitterでログイン'), "/auth/twitter", class: "twitter-login btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

