<!-- メニュー選択のタブ部分 -->
<!-- TODO 携帯から見た際は幅全部を使いたい -->
<!-- TODO PCから見た際はサイドバーにしたい -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> 履歴</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-check"></span> 棚卸し</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-time"></span> 集計</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> 設定</a></li>
</ul>
