<!-- メニュー選択のタブ部分 -->
<!-- TODO 携帯から見た際は幅全部を使いたい -->
<!-- TODO PCから見た際はサイドバーにしたい -->
<ul class="nav nav-tabs">
  <!-- 登録ボタンは携帯では画面表示上常に左下に表示する -->
  <!-- TODO style の直書きをやめる -->
  <!-- TODO hover 時のスタイルがtabのスタイルになってしまっているのを通常のボタンのスタイルを適用する -->

  <li style="display: block; position: fixed; bottom: 1.2em; left: 1em;">
    <a ng-click="toggleEntryForm()" href="#" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> 登録</a>
  </li>
  <li class="active"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> 履歴</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-check"></span> 棚卸し</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-time"></span> 集計</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> 設定</a></li>
</ul>
