<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> 履歴</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-check"></span> 棚卸し</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-time"></span> 集計</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> 設定</a></li>
</ul>
