<%
links = [
  { name: '履歴',   icon: 'glyphicon-list-alt', path: '/topic/index' },
  { name: '棚卸し', icon: 'glyphicon-check',    path: '/inventories' },
# { name: '集計',   icon: 'glyphicon-time',     path: '#' },
  { name: '設定',   icon: 'glyphicon-wrench',   path: '/configs' },
]
%>
<ul class="nav nav-pills nav-stacked">
  <% links.each do |params| %>
    <li  class="<%= 'active' if request.path.start_with?(params[:path]) %>">
      <a href="<%= params[:path] %>">
        <i class="glyphicon <%= params[:icon] %>"></i> <%= params[:name] %>
      </a>
    </li>
  <% end %>
</ul>
