<%
links = [
  { name: 'ダッシュボード', icon: 'award', path: '/dashboard' },
  { name: '履歴', icon: 'card-list', path: '/histories' },
  { name: '棚卸し', icon: 'check2-square', path: '/inventories' },
  { name: '集計', icon: 'diagram-3', path: '/summaries' },
  { name: '設定', icon: 'wrench', path: '/configs' },
]
%>
<nav class="nav flex-column">
  <% links.each do |params| %>
    <a class="nav-link <%= 'active' if request.path.start_with?(params[:path]) %>" href="<%= params[:path] %>">
      <%= bootstrap_icon params[:icon] %> <%= params[:name] %>
    </a>
  <% end %>
</nav>
